<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>{% block title %}Fila de Atendimento{% endblock %}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<header class="topbar">
    <div class="container topbar-content">
        <a href="{{ url_for('index') }}" class="logo">
            Fila de Atendimento
        </a>

        <nav>
            <a href="{{ url_for('index') }}">Fila</a>
            <a href="{{ url_for('historico') }}">Histórico</a>
        </nav>
    </div>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<script src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>
